

@charset "UFT-8";

:root{
    --cor1: #c7ab83; 
    --cor2: #7A7267;
    --cor3: #332716;   
    --cor4: #F0DCC1;

}

*{
    color: var(--cor3);
}

#image{
  max-width: 100px;
  object-fit: cover;
  border-radius: 50%;
  
}

.rodape{
    background-color: var(--cor1);
}

#bloco {
    background-color: var(--cor1);
    display: flex;
    max-height: 60px;
}

#reflexo{
    background-color: var(--cor2);
    color:black;
    font-size: large;
}

#reflexo:hover > p{
   
    display: block;
}

#reflexo >p{
 
    display:none;

}

body {

    background-color: var(--cor4);
}

 
h1{
    font-family:'Times New Roman';
 }

h2{
    font-family:'Times New Roman';
}

h3{

    font-family:'Times New Roman';  
}

a:hover{

    color: blue;

}

a:visited{

    color: red;
}

